<%- include ('partials/header') %>
    <p class="m-5"></p>
    <div class="container border m-auto w-25">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center">Register Member</h2>
                <form action="/member/register" method="POST" class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username" 
                    value="<%= typeof username != 'undefined' ? username: ''%>"><br/>
                    <input type="email" name="email" class="form-control" placeholder="E-Mail" 
                    value="<%= typeof email != 'undefined' ? email : ''%>" ><br/>
                    <input type="password" name="password" class="form-control" placeholder="Password"><br/>
                    <input type="password" name="password2" class="form-control" placeholder="Confirm Password"><br/>
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
                <%- include ('partials/err_msg') %>
                <hr class="w-50">
                <p>Already registered? <a href="/member/login" class="card-link">Login</a></p>
            </div>
        </div>

    </div>
<%- include ('partials/footer') %>